<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LinkHubApp", "Index", "Home", new { area = "Common" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", new { controller = "Home", Area = "Common" })</li>
                    <li>@Html.ActionLink("Category", "Index", new { controller = "Category", Area = "Admin" })</li>
                    <li>@Html.ActionLink("ListCategory", "Index", new { controller = "ListCategory", Area = "Admin" })</li>
                    <li>@Html.ActionLink("BrowseURL", "Index", new { controller = "BrowseURL", Area = "Common" })</li>
                    <li>@Html.ActionLink("SubmitURL", "Index", new { controller = "Home", Area = "Common" })</li>
                    <li>@Html.ActionLink("ApprovedURL", "Index", new { controller = "ApprovedURL", Area = "Admin" })</li>
                    <li>@Html.ActionLink("ListUsers", "Index", new { controller = "ListUsers", Area = "Admin" })</li>
                    <li>@Html.ActionLink("Register", "Index", new { controller = "Register", Area = "Security" })</li>
                    <li>@Html.ActionLink("Login", "Index", new { controller = "Login", Area = "Security" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
