@model IEnumerable<BOL.tbl_Url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of URLs</h2>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("UrlTitle","Index", new {SortOder = ViewBag.SortOder == null ? "Asc" :(ViewBag.SortOder == "Asc" ? "Desc" : "Asc"), SortBy = "Title"})
           @* @Html.DisplayNameFor(model => model.UrlTitle)*@
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { SortOder = ViewBag.SortOder == null ? "Asc" : (ViewBag.SortOder == "Asc" ? "Desc" : "Asc"), SortBy = "Url" })
            @*@Html.DisplayNameFor(model => model.Url)*@
        </th>
        <th>
            @Html.ActionLink("UrlDesc", "Index", new { SortOder = ViewBag.SortOder == null ? "Asc" : (ViewBag.SortOder == "Asc" ? "Desc" : "Asc"), SortBy = "UrlDesc" })
            @*@Html.DisplayNameFor(model => model.UrlDesc)*@
        </th>
        </th>
        <th>
            @Html.ActionLink("Category", "Index", new { SortOder = ViewBag.SortOder == null ? "Asc" : (ViewBag.SortOder == "Asc" ? "Desc" : "Asc"), SortBy = "Category" })
            @*@Html.DisplayNameFor(model => model.tbl_Category.CategoryName)*@
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrlTitle)
        </td>
        <td>
            <a target="_blank" href=@item.Url> @item.Url </a>
            @*@Html.DisplayFor(modelItem => item.Url)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Category.CategoryName)
        </td>
    </tr>
}

</table>
